<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional" rel="stylesheet">
  <title>台北一日遊</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="desktop">
    <div class="navigation">
      <a href="/" class="left">
        <span class="title">台北一日遊</span>
      </a>
      <div class="right">
        <a href="" class="menu-item">預定行程</a>
        <a href="" class="menu-item">登入/註冊</a>
      </div>
    </div>
  </header>
  <section class="product" id="{{ id_value }}">
    <div class="picture">
      <img src="../static/welcome.png" alt="">
    </div>
      
    <div class="profile">
      <div class="profile-title">平安鐘</div>
      <div class="profile-describe">nice place</div>
      <div class="booking-form">
        test
      </div>
    </div>
  </section>
  <div class="separator"></div>
  <body>
    <div class="infors">
      <div class="infors-content">
        <p>平安鐘祈求大家的平安，這是為了紀念921地震週年的設計，在喧鬧的廣場上每個小時鳴鐘，保佑平安，祈禱臺灣不會再發生這樣的天災。雙手合十加上108個黃色的琉璃乳丁，隨著緩緩流下的水，在底下的一個小噴泉噴出。雙手合十的意義，一個是祈福，一個是包容，教我們要包容這樣的改變，撫平這樣的傷口。下面的水緩緩流出，代表著人的生命力是不斷地延續下去。緩緩地鐘聲，卻帶來心中的寧靜。 這個平安鐘是由建築師姚仁喜與琉璃創作家王俠軍共同設計，長6公尺、寬5公尺，以鑄銅製成，由法鼓山文教基金會全額出資。平安鐘點綴都市景觀，不時提醒大家，面對刻骨銘心的災難痛苦，更應該有謙卑的一顆心。</p>
      </div>
      <div class="infors-address">
        <p style="font-weight: 700;">景點地址：</p>
        <p>臺北市 大安區忠孝東路4段</p>
      </div>
      <div class="infors-routine">
        <p style="font-weight: 700;">交通方式：</p>
        <p>捷運站名：忠孝復興站4號出口1.公車：204、212、212直、232、232副、262、262(區間)、278、299、521、605、605(副)、605(新台五線)、667、903、忠孝新幹線至頂好市場站 2.車位：太平洋崇光百貨地下停車場或市民大道附近地下停車場</p>
      </div>
    </div>
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
  </body>