<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional" rel="stylesheet">
  <title>台北一日遊</title>
  <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->
  <link rel="stylesheet" href="../static/style.css">
</head>
<body>
  <header class="desktop">
    <div class="navigation">
      <a href="/" class="left">
        <span class="title">台北一日遊</span>
      </a>
      <div class="right">
        <a href="" class="menu-item">預定行程</a>
        <a href="" class="menu-item">登入/註冊</a>
      </div>
    </div>
  </header>
  <section class="product" id="{{ id_value }}">
    <div id="carousel">
      <div class="slides">
        <button class="left_btn" onclick=""></button>
        <button class="right_btn" onclick=""></button>
        <div class="dots"></div>
      </div>
    </div>
      
    <div class="profile">
      <div class="profile-title"></div>
      <div class="profile-describe"></div>
      <div class="booking-form">
        <div class="product-text">
          <p><b>訂購導覽行程</b></p>
          <p>以此景點為中心的一日行程，帶您探索城市角落故事</p>
        </div>
        <div class="select-date">
          <p><b>選擇日期：</b></p>
          <input type="date" class="calender" required><br>
        </div>
        <div class="select-session">
          <p><b>選擇時間：</b></p>
          <input type="radio" id="optionA" name="option" value="A" required>
          <label for="optionA">上半天</label>
          <input type="radio" id="optionB" name="option" value="B" required>
          <label for="optionB">下半天</label>
        </div>
        <div class="product-fee">
          <p><b>導覽費用：</b></p>
        </div>
        <button class="booking-button">開始預約行程</button>
      </div>
    </div>
  </section>
  <div class="separator"></div>
  <body>
    <div class="infors">
      <div class="infors-content">
        <p id="description"></p>
      </div>
      <div class="infors-address">
        <p style="font-weight: 700;">景點地址：</p>
        <p id="address"></p>
      </div>
      <div class="infors-routine">
        <p style="font-weight: 700;">交通方式：</p>
        <p id="transportation"></p>
      </div>
    </div>
    <div class="footer">COPYRIGHT © 2021 台北一日遊</div>

    <script>
      // function createImages(urls) {
      //   const slidesContainer = document.querySelector('.slides');
      //   const dotsContainer = document.querySelector('.dots');
      //   urls.forEach(img => {
      //     const slide = document.createElement('div');
      //     slide.classList.add('slide');
      //     slide.innerHTML = `<img src="${img}" alt="Slide">`;
      //     slidesContainer.appendChild(slide);
          
      //     const dot = document.createElement('p');
      //     dot.innerHTML = "<p>0<\p>"
      //     dotsContainer.appendChild(dot);
      //   });
      // };

      function createImages(urls) {
        const slidesContainer = document.querySelector('.slides');
        const dotsContainer = document.querySelector('.dots');
        const slides = [];
        const dots = [];

        urls.forEach((img, index) => {
          const slide = document.createElement('div');
          slide.classList.add('slide');
          slide.innerHTML = `<img src="${img}" alt="Slide">`;
          slidesContainer.appendChild(slide);
          slides.push(slide);

          const dot = document.createElement('div');
          dot.classList.add('dot');
          dot.addEventListener('click', () => {
            showSlide(index);
          });
          dotsContainer.appendChild(dot);
          dots.push(dot);
        });

        // 有動畫效果，但是會破圖
        // function showSlide(index) {
        //   const slideWidth = slides[0].offsetWidth;
        //   slidesContainer.style.transform = `translateX(-${slideWidth * index}px)`;

        //   slides.forEach((slide, i) => {
        //     if (i === index) {
        //       slide.style.display = 'block';
        //       dots[i].classList.add('active');
        //     } else {
        //       slide.style.display = 'none';
        //       dots[i].classList.remove('active');
        //     }
        //   });
        // }

        function showSlide(index) {
          slides.forEach((slide, i) => {
            if (i === index) {
              slide.style.display = 'block';
              dots[i].classList.add('active');
            } else {
              slide.style.display = 'none';
              dots[i].classList.remove('active');
            }
          });
        }

        showSlide(0);
      };

      async function createAttractionById(id_value) {
        isComposing = true;
        const response = await fetch(`http://52.52.144.73:3000/api/attraction/${id_value}`);
        const data = await response.json();
        isComposing = false;
        return data;
      };

      const productId = document.querySelector(".product").id;
      // console.log(productId);

      createAttractionById(1)
        .then(data => {
          const attraction_data = data.data;
          console.log(attraction_data);

          createImages(attraction_data.images);

          const profileTitleElement = document.querySelector(".profile-title");
          profileTitleElement.innerHTML = attraction_data.name;

          const profileDescribeElement = document.querySelector(".profile-describe");
          profileDescribeElement.innerHTML = attraction_data.category + " at " + attraction_data.mrt;

          const descriptionElement = document.getElementById('description');
          descriptionElement.innerHTML = attraction_data.description;

          const addressElement = document.getElementById('address');
          addressElement.innerHTML = attraction_data.address;

          const transportationElement = document.getElementById('transportation');
          transportationElement.innerHTML = attraction_data.transport;
        })
        .catch(error => {
          console.error(error);
        });

      // console.log(createAttractionsByPage(2))

    </script>
  </body>