<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional"
    rel="stylesheet">
  <title>台北一日遊</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/js/header.js"></script>
</head>

<body>
  <header class="desktop"></header>
  <div class="booking-body">
    <div class="ordergreeting"></div>
    <div class="orderinfo"></div>
  </div>
  <div class="separator"></div>
  <div class="separator"></div>
  
  <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
  <div class="footer-fill"></div>

  <script>
    const ip_adress = "http://localhost:3000";

    // 建立 header
    createHeader();

    // 建立頁面內容
    // 如果getCurrentUser() 回傳 false 則導向到 index
    getCurrentUser()
    .then(async (result) => {
      if (!result.email) {
        window.location.href = "/";
      }else{
        // 用localStorage token get /api/get_order 取得資料
        // 如果有資料，就在 booking-body 中顯示有資料，如果沒資料，就顯示沒資料
        const orderResult = await getOrder();
        const bookingBody = document.querySelector('.booking-body');

        if (typeof orderResult.result === 'string') {
          bookingBody.innerHTML = `
                <div class="ordergreeting">
                  <p> 您好，${result.name}，待預訂的行程如下：</p>
                </div>
                <div class="orderinfo">
                  <div class="orderdescribe">
                    <p> 目前沒有任何待預訂的行程 </p>
                  </div>
                </div>
          `;
        }else{
          const orderinfo= document.querySelector('.orderinfo');
          const ordergreeting= document.querySelector('.ordergreeting');
          const attraction_id = orderResult.result.attraction_id;
          const attraction_info = await fetch(`${ip_adress}/api/attraction/${attraction_id}`);
          const data = await attraction_info.json();
          const url = data.data.images[0];
          const address = data.data.address;

          const dateString = orderResult.result.date;
          const date = new Date(dateString);
          const year = date.getFullYear();
          const month = (date.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，所以需要加1，并且保证两位数
          const day = date.getDate().toString().padStart(2, '0'); // 保证两位数的日期
          const formattedDate = `${year}-${month}-${day}`;

          let session = "";
          let fee = "";
          if(orderResult.result.session === "B"){
            session = "下午 1 點到下午 4 點";
            fee = "新台幣 2500 元"
          }else{
            session = "早上 9 點到中午 12 點";
            fee = "新台幣 2000 元"
          }
          
          ordergreeting.innerHTML = `<p>您好，${result.name}，待預訂的行程如下：</p>`
          orderinfo.innerHTML = `
            <div class="order-attraction-img">
              <img src="${url}" alt="" class="order-pic">
            </div>
            <div class="orderdescribe">
              <p>台北一日遊：${data.data.name}</p>
              <p><b>日期：</b>${formattedDate}</p>
              <p><b>時間：</b>${session}</p>
              <p><b>費用：</b>${fee}</p>
              <p><b>地點：</b>${address}</p>
            </div>
            <button class="delete-order" onclick="deleteOrder()"></button>
          `;
        }
        
      }
    })
    .catch((error) => {
      console.error(error);
    });

  </script>
</body>