<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap&subset=chinese-traditional"
    rel="stylesheet">
  <title>台北一日遊</title>
  <link rel="stylesheet" href="../static/style.css">
  <script src="../static/js/header.js"></script>
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
  <style>
      .order-card {
          max-width: 750px;
      }
      form {
          padding: 40px;
          box-shadow: 0 7px 14px rgba(50, 50, 93, 0.1), 0 3px 6px rgba(0, 0, 0, 0.08);
      }
      .tappay-field-focus {
          border-color: #66afe9;
          outline: 0;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(102, 175, 233, .6);
      }
      .has-error .tappay-field-focus {
          border-color: #843534;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
      }
      .has-success .tappay-field-focus {
          border-color: #2b542c;
          -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #67b168;
      }
      .order-part {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
        width: 1000px;
      }
      .order-group{
        display: flex;
        align-items: center;
        margin-top: 20px;
      }
      .order-pending {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        text-align: right;
      }

      .pricing {
        white-space: nowrap;
        margin-right: 10px; /* 可以调整右侧的间距 */
      }

      .btn {
        margin-top: 10px; /* 可以调整上方的间距 */
      }
      .form-control{
        width: 200px;
      }
      #cc-number{
        height: 25px;
      }
  </style>
</head>

<body>
  <header class="desktop"></header>
  <div class="booking-body">
    <br>
    <div class="ordergreeting"></div>
    <div class="orderinfo"></div>
  </div>
  
  <div class="order-part">
    <div class="separator"></div>
    <div class="order-group">您的聯絡資訊</div>
    <div class="order-group">
      <label for="name" class="control-label">聯絡姓名：</label>
      <input type="text" class="form-control" id="name">
    </div>
    <div class="order-group">
      <label for="email" class="control-label">聯絡信箱：</label>
      <input type="email" class="form-control" id="email">
    </div>
    <div class="order-group">
      <label for="mobile" class="control-label">手機號碼：</label>
      <input type="text" class="form-control" id="mobile">
    </div>
    <div class="order-group">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</div>
    <br>
  
    <div class="separator"></div>
  
    <div class="order-group">信用卡付款資訊</div>

    <div class="order-group">
        <label for="card-number" class="control-label"><span id="cardtype"></span>卡片號碼：</label>
        <div class="form-control card-number"></div>
    </div>
    <div class="order-group">
        <label for="expiration-date" class="control-label">過期時間：</label>
        <div class="form-control expiration-date" id="tappay-expiration-date"></div>
    </div>
    <div class="order-group">
        <label for="ccv" class="control-label">驗證密碼：</label>
        <div class="form-control ccv"></div>
    </div>
    <br>
  
    <div class="separator"></div>
    <br>
    <div class="order-pending">
      <div class="pricing">test</div>
      <button type="submit" class="btn btn-default">Pay</button>
    </div>
    <br>
  </div>


  
  <div class="footer">COPYRIGHT © 2021 台北一日遊</div>
  <div class="footer-fill"></div>

  <script>
    const ip_adress = "http://localhost:3000";

    // 建立 header
    createHeader();

    // 建立頁面內容
    // 如果getCurrentUser() 回傳 false 則導向到 index
    getCurrentUser()
    .then(async (result) => {
      if (!result.email) {
        window.location.href = "/";
      }else{
        // 用localStorage token get /api/get_order 取得資料
        // 如果有資料，就在 booking-body 中顯示有資料，如果沒資料，就顯示沒資料
        const orderResult = await getOrder();
        const bookingBody = document.querySelector('.booking-body');

        if (typeof orderResult.result === 'string') {
          bookingBody.innerHTML = `
                <div class="ordergreeting">
                  <p> 您好，${result.name}，待預訂的行程如下：</p>
                </div>
                <div class="orderinfo">
                  <div class="orderdescribe">
                    <p> 目前沒有任何待預訂的行程 </p>
                  </div>
                </div>
          `;
        }else{
          const orderinfo= document.querySelector('.orderinfo');
          const ordergreeting= document.querySelector('.ordergreeting');
          const attraction_id = orderResult.result.attraction_id;
          const attraction_info = await fetch(`${ip_adress}/api/attraction/${attraction_id}`);
          const data = await attraction_info.json();
          const url = data.data.images[0];
          const address = data.data.address;

          const dateString = orderResult.result.date;
          const date = new Date(dateString);
          const year = date.getFullYear();
          const month = (date.getMonth() + 1).toString().padStart(2, '0'); // 月份从0开始，所以需要加1，并且保证两位数
          const day = date.getDate().toString().padStart(2, '0'); // 保证两位数的日期
          const formattedDate = `${year}-${month}-${day}`;

          let session = "";
          let fee = "";
          if(orderResult.result.session === "B"){
            session = "下午 1 點到下午 4 點";
            fee = "新台幣 2500 元"
          }else{
            session = "早上 9 點到中午 12 點";
            fee = "新台幣 2000 元"
          }
          
          ordergreeting.innerHTML = `<p>您好，${result.name}，待預訂的行程如下：</p>`
          orderinfo.innerHTML = `
            <div class="order-attraction-img">
              <img src="${url}" alt="" class="order-pic">
            </div>
            <div class="orderdescribe">
              <p>台北一日遊：${data.data.name}</p>
              <p><b>日期：</b>${formattedDate}</p>
              <p><b>時間：</b>${session}</p>
              <p><b>費用：</b>${fee}</p>
              <p><b>地點：</b>${address}</p>
            </div>
            <button class="delete-order" onclick="deleteOrder()"></button>
          `;
        }
        
      }
    })
    .catch((error) => {
      console.error(error);
    });

  </script>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://js.tappaysdk.com/sdk/tpdirect/v5.17.0"></script>
<script>
    TPDirect.setupSDK(137757, 'app_txmiFcSe1M5PKLnwpG57rZsz04VloVXkRSGfF81ss1eDlPUs79HBmNO9E0wl', 'sandbox')
    TPDirect.card.setup({
        fields: {
            number: {
                element: '.form-control.card-number',
                placeholder: '**** **** **** ****'
            },
            expirationDate: {
                element: document.getElementById('tappay-expiration-date'),
                placeholder: 'MM / YY'
            },
            ccv: {
                element: $('.form-control.ccv')[0],
                placeholder: '後三碼'
            }
        },
        styles: {
            'input': {
                'color': 'gray'
            },
            'input.ccv': {
                // 'font-size': '16px'
            },
            ':focus': {
                'color': 'black'
            },
            '.valid': {
                'color': 'green'
            },
            '.invalid': {
                'color': 'red'
            },
            '@media screen and (max-width: 400px)': {
                'input': {
                    'color': 'orange'
                }
            }
        },
        // 此設定會顯示卡號輸入正確後，會顯示前六後四碼信用卡卡號
        isMaskCreditCardNumber: true,
        maskCreditCardNumberRange: {
            beginIndex: 6, 
            endIndex: 11
        }
    })
    // listen for TapPay Field
    TPDirect.card.onUpdate(function (update) {
        /* Disable / enable submit button depend on update.canGetPrime  */
        /* ============================================================ */

        // update.canGetPrime === true
        //     --> you can call TPDirect.card.getPrime()
        // const submitButton = document.querySelector('button[type="submit"]')
        if (update.canGetPrime) {
            // submitButton.removeAttribute('disabled')
            $('button[type="submit"]').removeAttr('disabled')
        } else {
            // submitButton.setAttribute('disabled', true)
            $('button[type="submit"]').attr('disabled', true)
        }


        /* Change card type display when card type change */
        /* ============================================== */

        // cardTypes = ['visa', 'mastercard', ...]
        var newType = update.cardType === 'unknown' ? '' : update.cardType
        $('#cardtype').text(newType)



        /* Change form-group style when tappay field status change */
        /* ======================================================= */

        // number 欄位是錯誤的
        if (update.status.number === 2) {
            setNumberFormGroupToError('.card-number-group')
        } else if (update.status.number === 0) {
            setNumberFormGroupToSuccess('.card-number-group')
        } else {
            setNumberFormGroupToNormal('.card-number-group')
        }

        if (update.status.expiry === 2) {
            setNumberFormGroupToError('.expiration-date-group')
        } else if (update.status.expiry === 0) {
            setNumberFormGroupToSuccess('.expiration-date-group')
        } else {
            setNumberFormGroupToNormal('.expiration-date-group')
        }

        if (update.status.ccv === 2) {
            setNumberFormGroupToError('.ccv-group')
        } else if (update.status.ccv === 0) {
            setNumberFormGroupToSuccess('.ccv-group')
        } else {
            setNumberFormGroupToNormal('.ccv-group')
        }
    })

    $('form').on('submit', function (event) {
        event.preventDefault()
        
        // fix keyboard issue in iOS device
        forceBlurIos()
        
        const tappayStatus = TPDirect.card.getTappayFieldsStatus()
        console.log(tappayStatus)

        // Check TPDirect.card.getTappayFieldsStatus().canGetPrime before TPDirect.card.getPrime
        if (tappayStatus.canGetPrime === false) {
            alert('can not get prime')
            return
        }

        // Get prime
        TPDirect.card.getPrime(function (result) {
            if (result.status !== 0) {
                alert('get prime error ' + result.msg)
                return
            }
            alert('get prime 成功，prime: ' + result.card.prime)
            var command = `
            Use following command to send to server \n\n
            curl -X POST https://sandbox.tappaysdk.com/tpc/payment/pay-by-prime \\
            -H 'content-type: application/json' \\
            -H 'x-api-key: partner_6ID1DoDlaPrfHw6HBZsULfTYtDmWs0q0ZZGKMBpp4YICWBxgK97eK3RM' \\
            -d '{
                "partner_key": "partner_6ID1DoDlaPrfHw6HBZsULfTYtDmWs0q0ZZGKMBpp4YICWBxgK97eK3RM",
                "prime": "${result.card.prime}",
                "amount": "1",
                "merchant_id": "GlobalTesting_CTBC",
                "details": "Some item",
                "cardholder": {
                    "phone_number": "+886923456789",
                    "name": "王小明",
                    "email": "LittleMing@Wang.com",
                    "zip_code": "100",
                    "address": "台北市天龍區芝麻街1號1樓",
                    "national_id": "A123456789"
                }
            }'`.replace(/                /g, '')
            document.querySelector('#curl').innerHTML = command
        })
    })

    function setNumberFormGroupToError(selector) {
        $(selector).addClass('has-error')
        $(selector).removeClass('has-success')
    }

    function setNumberFormGroupToSuccess(selector) {
        $(selector).removeClass('has-error')
        $(selector).addClass('has-success')
    }

    function setNumberFormGroupToNormal(selector) {
        $(selector).removeClass('has-error')
        $(selector).removeClass('has-success')
    }
    
    function forceBlurIos() {
        if (!isIos()) {
            return
        }
        var input = document.createElement('input')
        input.setAttribute('type', 'text')
        // Insert to active element to ensure scroll lands somewhere relevant
        document.activeElement.prepend(input)
        input.focus()
        input.parentNode.removeChild(input)
    }
    
    function isIos() {
        return /iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream;
    }
</script>
</body>